# ImageKit Configuration
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=sua_chave_publica_aqui
NEXT_PUBLIC_IMAGEKIT_PRIVATE_KEY=sua_chave_privada_aqui
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/seu_endpoint